<!DOCTYPE html>
<html lang="en">

<head>
    {{>head }}

</head>

<body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <div class="center_part_fee">
        <div class="courses_top"> {{pageHeading}} </div>
        <div class="courses_middle_add">
            <div class="courses_middle_card">

                <form action="/createCourse" method="post">
                      <!-- Including CSRF token in form (csrfToken -> global variable)-->
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">


                    <input type="text" name="courseID" id="" placeholder="Course ID" required>
                    <input type="text" name="courseName" id="" placeholder="Course Name" required>
                    <input type="number" name="courseFee" id="" placeholder="Fees..." min="0" required>
                    <input type="submit" value="Create">
                </form>

            </div>




        </div>

    </div>






    </div>



    <script src="/js/jscript.js"></script>
</body>

</html>