<!DOCTYPE html>
<html lang="en">

<head>
    {{>head }}

</head>

<body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <div class="center_part_fee">
        <div class="courses_top"> Add Courses </div>
        <div class="courses_middle_add">
            <div class="courses_middle_card">
                <form action="">
                    <input type="text" name="" id="" placeholder="Course ID" required>
                    <input type="text" name="" id="" placeholder="Course Name" required>
                    <input type="number" name="" id="" placeholder="Fees..." min="0" required>
                    <input type="submit" value="Add">
                </form>

            </div>




        </div>

    </div>






    </div>



    <script src="js/jscript.js"></script>
</body>

</html>