<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

</head>

<body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <!-- enquiry_page -->
    <div class="center_part_fee">
        <div class="fee_top_attendance" style="color: red;">Past-Attendance</div>
        <div class="attendance_middle">
            <div class="datepicker">
               <input
                 type="date"
                 name=""
                 data-placeholder="Enter Date"
                 class="input_date_att"
                 required
               />
             </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Roll no</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>heyyy</td>
                        <td>12</td>
                        <td>
                            <div class="att_button">Present</div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>



    <script src="js/jscript.js"></script>
</body>

</html>