<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

</head>

<body>
       <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <div class="center_part_fee">
        <div class="courses_top"> Courses Details</div>
        <div class="courses_middle">
            <span><a href="courses_add.html"><i class="bi bi-plus-square-fill"></i></a></span>
            <table>
                <thead>
                    <tr>
                        <th>COURSE ID</th>
                        <th>COURSE NAME</th>
                        <th>CODING LANGUAGES</th>
                        <th>UPDATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href="courses_add.html"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href="courses_add.html"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href="courses_add.html"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href=""><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href=""><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href=""><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href=""><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href=""><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href=""><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>web</td>
                        <td>html,css,js</td>
                        <td><a href=""><i class="bi bi-pencil-square"></i></a></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>






    </div>



    <script src="js/jscript.js"></script>
</body>

</html>