<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

</head>

<body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}


    <!------ enquiry_page ----->
    <div class="center_part_table">

        <section>
            <h1> <span class="yellow"> <a href="index.html">Zillionsoftech</a> </span>
            </h1>
            <h2>Student Details</a></h2>
        </section>

        <table class="enquiry_table">
            <thead>
                <tr>
                    <th>
                        <h1> First Name</h1>
                    </th>
                    <th>
                        <h1>Last Name</h1>
                    </th>
                    <th>
                        <h1>Email</h1>
                    </th>
                    <th>
                        <h1>Phone</h1>
                    </th>
                    <th>
                        <h1>Location</h1>
                    </th>
                    <th>
                        <h1>D.O.B</h1>
                    </th>
                    <th>
                        <h1>Total Fees</h1>
                    </th>
                    <th>
                        <h1>Update</h1>
                    </th>
                    <th>
                        <h1>Delete</h1>
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>sds</td>
                    <td>eeee</td>
                    <td>deta12@gmail.com</td>
                    <td>876876876</td>
                    <td>dfdsf</td>
                    <td>7/2/2</td>
                    <td>$100</td>
                    <td> <i class="bi bi-pencil-square" style="color: greenyellow; font-size: 1.5rem;"></i></td>
                    <td><i class="bi bi-trash3-fill" style="color: red; font-size: 1.5rem;"></i></td>
                </tr>


            </tbody>
        </table>


    </div>


    <script src="js/jscript.js"></script>
</body>

</html>