<!DOCTYPE html>
<html lang="en">

<head>
   {{>hbs}}

</head>

<body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <!------ enquiry_page ----->
    <div class="center_part_table">

        <section>
            <h1> <span class="yellow"> <a href="index.html">Zillionsoftech</a> </span>
            </h1>
            <h2>Inquiry table</a></h2>
        </section>

        <table class="enquiry_table">
            <thead>
                <tr>
                    <th>
                        <h1> First Name</h1>
                    </th>
                    <th>
                        <h1>Last Name</h1>
                    </th>
                    <th>
                        <h1>Email</h1>
                    </th>
                    <th>
                        <h1>Phone</h1>
                    </th>
                    <th>
                        <h1>Location</h1>
                    </th>
                    <th>
                        <h1>Age</h1>
                    </th>
                    <th>
                        <h1>Call Count</h1>
                    </th>
                    <th>
                        <h1>Add/Edit</h1>
                    </th>
                    <th>
                        <h1>Summary</h1>
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>abcdefg </td>
                    <td>abcdefg </td>
                    <td>abc121@gmail.com </td>
                    <td>9863816297 </td>
                    <td>gurgaon </td>
                    <td>21 </td>
                    <td>12222 </td>
                    <td>



                        <a name="" id="" class="enq_details_edit " href="add_enquiry.html">Edit</a>


                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">hover <i class="bi bi-chevron-double-down"></i></button>
                            <div class="dropdown-content">
                                <button class="summary_btn1"> Call1</button>
                                <button class="summary_btn2"> Call2</button>
                                <button class="summary_btn3"> Call3</button>
                                <button class="summary_btn4"> Call4</button>
                                <div class="summary1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
                                    quas a eum repellat accusantium non doloremque dolorem iste voluptas harum
                                    voluptatum similique officia quos distinctio eveniet vel, aliquam fugiat laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary2">khjkjh kjhkihk hgj kjgkgk hg kkhkgj ggjghjhgj hg gjh jhfjf j.
                                </div>
                                <div class="summary3">Lojbjmbmj hjghjg hgjh jgj jhgjgjgj tio eveniet vel, aliquam fugiat
                                    laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary4">Lojbjmbm laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>

                <tr>
                    <td>abcdefg </td>
                    <td>abcdefg </td>
                    <td>abc121@gmail.com </td>
                    <td>9863816297 </td>
                    <td>gurgaon </td>
                    <td>21 </td>
                    <td>12222 </td>
                    <td>
                        <a name="" id="" class="enq_details_edit " href="add_enquiry.html">Edit</a>

                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">hover <i class="bi bi-chevron-double-down"></i></button>
                            <div class="dropdown-content">
                                <button class="summary_btn1"> Call1</button>
                                <button class="summary_btn2"> Call2</button>
                                <button class="summary_btn3"> Call3</button>
                                <button class="summary_btn4"> Call4</button>
                                <div class="summary1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
                                    quas a eum repellat accusantium non doloremque dolorem iste voluptas harum
                                    voluptatum similique officia quos distinctio eveniet vel, aliquam fugiat laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary2">khjkjh kjhkihk hgj kjgkgk hg kkhkgj ggjghjhgj hg gjh jhfjf j.
                                </div>
                                <div class="summary3">Lojbjmbmj hjghjg hgjh jgj jhgjgjgj tio eveniet vel, aliquam fugiat
                                    laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary4">Lojbjmbm laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>abcdefg </td>
                    <td>abcdefg </td>
                    <td>abc121@gmail.com </td>
                    <td>9863816297 </td>
                    <td>gurgaon </td>
                    <td>21 </td>
                    <td>12222 </td>
                    <td>
                        <a name="" id="" class="enq_details_edit " href="add_enquiry.html">Edit</a>

                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">hover <i class="bi bi-chevron-double-down"></i></button>
                            <div class="dropdown-content">
                                <button class="summary_btn1"> Call1</button>
                                <button class="summary_btn2"> Call2</button>
                                <button class="summary_btn3"> Call3</button>
                                <button class="summary_btn4"> Call4</button>
                                <div class="summary1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
                                    quas a eum repellat accusantium non doloremque dolorem iste voluptas harum
                                    voluptatum similique officia quos distinctio eveniet vel, aliquam fugiat laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary2">khjkjh kjhkihk hgj kjgkgk hg kkhkgj ggjghjhgj hg gjh jhfjf j.
                                </div>
                                <div class="summary3">Lojbjmbmj hjghjg hgjh jgj jhgjgjgj tio eveniet vel, aliquam fugiat
                                    laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary4">Lojbjmbm laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>abcdefg </td>
                    <td>abcdefg </td>
                    <td>abc121@gmail.com </td>
                    <td>9863816297 </td>
                    <td>gurgaon </td>
                    <td>21 </td>
                    <td>12222 </td>
                    <td>
                        <a name="" id="" class="enq_details_edit " href="add_enquiry.html">Edit</a>


                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">hover <i class="bi bi-chevron-double-down"></i></button>
                            <div class="dropdown-content">
                                <button class="summary_btn1"> Call1</button>
                                <button class="summary_btn2"> Call2</button>
                                <button class="summary_btn3"> Call3</button>
                                <button class="summary_btn4"> Call4</button>
                                <div class="summary1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
                                    quas a eum repellat accusantium non doloremque dolorem iste voluptas harum
                                    voluptatum similique officia quos distinctio eveniet vel, aliquam fugiat laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary2">khjkjh kjhkihk hgj kjgkgk hg kkhkgj ggjghjhgj hg gjh jhfjf j.
                                </div>
                                <div class="summary3">Lojbjmbmj hjghjg hgjh jgj jhgjgjgj tio eveniet vel, aliquam fugiat
                                    laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary4">Lojbjmbm laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>abcdefg </td>
                    <td>abcdefg </td>
                    <td>abc121@gmail.com </td>
                    <td>9863816297 </td>
                    <td>gurgaon </td>
                    <td>21 </td>
                    <td>12222 </td>
                    <td>
                        <a name="" id="" class="enq_details_edit " href="add_enquiry.html">Edit</a>


                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">hover <i class="bi bi-chevron-double-down"></i></button>
                            <div class="dropdown-content">
                                <button class="summary_btn1"> Call1</button>
                                <button class="summary_btn2"> Call2</button>
                                <button class="summary_btn3"> Call3</button>
                                <button class="summary_btn4"> Call4</button>
                                <div class="summary1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum
                                    quas a eum repellat accusantium non doloremque dolorem iste voluptas harum
                                    voluptatum similique officia quos distinctio eveniet vel, aliquam fugiat laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary2">khjkjh kjhkihk hgj kjgkgk hg kkhkgj ggjghjhgj hg gjh jhfjf j.
                                </div>
                                <div class="summary3">Lojbjmbmj hjghjg hgjh jgj jhgjgjgj tio eveniet vel, aliquam fugiat
                                    laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                                <div class="summary4">Lojbjmbm laborum.
                                    Nostrum quis numquam quo animi voluptatum ipsa libero. Cumque culpa pariatur fugit
                                    possimus veritatis quibusdam, aut deserunt accusantium beatae voluptatum.
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>kjhkjhkjhkj </td>
                    <td>kjhkjhkjhkj </td>
                    <td>kjhkjhkjhkj </td>
                    <td>kjhkjhkjhkj </td>
                    <td>kjhkjhkjhkj </td>
                    <td>kjhkjhkjhkj </td>
                    <td>kjhkjhkjhkj </td>
                    <td>kjhkjhkjhkj </td>
                    <td>kjhkjhkjhkj </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>



            </tbody>
        </table>


    </div>







    <script src="js/jscript.js"></script>
</body>

</html>