<!DOCTYPE html>
<html lang="en">
  <head>
   {{> head}}
  </head>

  <body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <!-- enquiry_page -->
    <div class="center_part_fee">
      <div class="fee_top">Teachers' Salary Details</div>
      <div class="fee_details_middle">
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mob. no</th>
              <th>Pending</th>
              <th>Pay Salary</th>
              <th>receipt</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>hhh</td>
              <td>hhh</td>
              <td>hhh</td>
              <td>hhh</td>
              <td>
                <a href=""><i class="bi bi-piggy-bank-fill"></i></a>
              </td>
              <td>
                <a href=""
                  ><i class="bi bi-file-earmark-arrow-down-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>hhh</td>
              <td>hhh</td>
              <td>hhh</td>
              <td>hhh</td>
              <td>
                <a href=""><i class="bi bi-piggy-bank-fill"></i></a>
              </td>
              <td>
                <a href=""
                  ><i class="bi bi-file-earmark-arrow-down-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>hhh</td>
              <td>hhh</td>
              <td>hhh</td>
              <td>hhh</td>
              <td>
                <a href=""><i class="bi bi-piggy-bank-fill"></i></a>
              </td>
              <td>
                <a href=""
                  ><i class="bi bi-file-earmark-arrow-down-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>hhh</td>
              <td>hhh</td>
              <td>hhh</td>
              <td>hhh</td>
              <td>
                <a href=""><i class="bi bi-piggy-bank-fill"></i></a>
              </td>
              <td>
                <a href=""
                  ><i class="bi bi-file-earmark-arrow-down-fill"></i
                ></a>
              </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>

    <script src="/jscript.js"></script>
  </body>
</html>
