<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>

  <body>
       <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <!-- enquiry_page -->
    <div class="center_part_fee">
      <div class="fee_top">Fee Details</div>
      <div class="fee_middle">
        <table>
          <thead>
            <tr>
              <th>Batch</th>
              <th>View Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <a href="fee_details.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>

    <script src="/js/jscript.js"></script>
  </body>
</html>
