<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>

  <body>
       <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <!-- enquiry_page -->
    <div class="center_part_fee">
      <div class="fee_top">Fee Details</div>
      <div class="fee_middle">
        <table>
          <thead>
            <tr>
              <th>Batch</th>
              <th>View Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each courseAvailable}}
                <tr>
                  <td>{{this.courseName}}</td></form>
                  <form action="/admin/feedetails/{{this._id}}">
                    <!-- Including CSRF token in form (csrfToken -> global variable)-->
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    
                      <td>
                        <button class="attendance_button">
                        <i class="bi bi-eye-slash-fill"></i>
                        </button>
                      </td>
                  </form>
                </tr>
            {{/each}}
          
          </tbody>
        </table>
      </div>
    </div>

    <script src="/js/jscript.js"></script>
  </body>
</html>
