<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
    <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}} {{!-- navbar-end --}}

    <!-- sidebar-nav -->
    {{> T_sidebar}} {{!-- sidebar end --}}

    <div class="center_part_dashboard">
      <div class="admin_dashboard_tray">
        <div class="admin_dashboard_tray1">
          <p><a href="students.html">Name</a></p>
          <p>Raman</p>
        </div>
        <div class="admin_dashboard_tray1">
          <p><a href="teachers.html">Mobile</a></p>
          <p>8800000000</p>
        </div>
        <div class="admin_dashboard_tray1">
          <p><a href="salary_details.html">Join Date</a></p>
          <p>july10,22</p>
        </div>
        <div class="admin_dashboard_tray1">
          <p><a href="fee.html">Salary</a></p>
          <p>8000</p>
        </div>
      </div>

      <div class="notice">
        <section>
          <div class="alert alert-1-primary">
            <h3 class="alert-title">Hello World</h3>
            <p class="alert-content">Lorem ipsum</p>
          </div>
          <div class="alert alert-2-secondary">
            <h3 class="alert-title">Hello World</h3>
            <p class="alert-content">Lorem ipsum</p>
          </div>
          <div class="alert alert-3-danger">
            <h3 class="alert-title">Hello World</h3>
            <p class="alert-content">Lorem ipsum</p>
          </div>
          <div class="alert alert-1-warning">
            <h3 class="alert-title">Hello World</h3>
            <p class="alert-content">Lorem ipsum</p>
          </div>
          <div class="alert alert-2-success">
            <h3 class="alert-title">Hello World</h3>
            <p class="alert-content">Lorem ipsum</p>
          </div>
        </section>
      </div>
    </div>

    <script src="js/jscript.js"></script>
  </body>
</html>
