<!DOCTYPE html>
<html lang="en">
  <head>
     {{> head}}
  </head>

  <body>
    <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <!-- enquiry_page -->
    <div class="center_part_enquiry">
      <div class="enq_top">
        <p><i class="bi bi-bell-fill"></i> PENDING INQURIES!!</p>

        <div id="enquiry_forms_no">
          <div id="inquiry_display_text">Inquries &nbsp;:</div>
          <div id="inquiry_display">2</div>
        </div>
      </div>

      <div class="enq_middle">
        <div class="enq_slidding">
          <div class="tray" style="--delay: -1">
            <div class="box1">
              <div class="inner1">
                <div class="inner11"><i class="bi bi-person-circle"></i></div>
                <div class="inner12">Name <span>abc121@gmail.com</span></div>
              </div>
              <div class="inner3">
                <button><a href="enquiry_details.html">Check</a></button>
              </div>
            </div>
            <div class="box2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe
              deserunt incidunt fugiat numquam quas reprehenderit cum sunt
              perferendis nisi ea ullam voluptatum adipisci ratione culpa
              blanditiis non nulla, temporibus facere? Beatae tenetur vel
              exercitationem nulla, doloremque omnis porro necessitatibus at
              odio quos iure voluptates, laborum deserunt minima nisi quidem?
            </div>
          </div>
          <div class="tray" style="--delay: 0">
            <div class="box1">
              <div class="inner1">
                <div class="inner11"><i class="bi bi-person-circle"></i></div>
                <div class="inner12">Raman <span>abc121@gmail.com</span></div>
              </div>
              <div class="inner3">
                <button><a href="enquiry_details.html">Check</a></button>
              </div>
            </div>
            <div class="box2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe
              deserunt incidunt fugiat numquam quas reprehenderit cum sunt
              perferendis nisi ea ullam voluptatum adipisci ratione culpa
              blanditiis non nulla, temporibus facere? Beatae tenetur vel
              exercitationem nulla, doloremque omnis porro necessitatibus at
              odio quos iure voluptates, laborum deserunt minima nisi quidem?
            </div>
          </div>

          <div class="tray" style="--delay: 1">
            <div class="box1">
              <div class="inner1">
                <div class="inner11"><i class="bi bi-person-circle"></i></div>
                <div class="inner12">Chaman <span>abc121@gmail.com</span></div>
              </div>
              <div class="inner3">
                <button><a href="enquiry_details.html">Check</a></button>
              </div>
            </div>
            <div class="box2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe
              deserunt incidunt fugiat numquam quas reprehenderit cum sunt
              perferendis nisi ea ullam voluptatum adipisci ratione culpa
              blanditiis non nulla, temporibus facere? Beatae tenetur vel
              exercitationem nulla, doloremque omnis porro necessitatibus at
              odio quos iure voluptates, laborum deserunt minima nisi quidem?
            </div>
          </div>

          <div class="tray" style="--delay: 2">
            <div class="box1">
              <div class="inner1">
                <div class="inner11"><i class="bi bi-person-circle"></i></div>
                <div class="inner12">Champ <span>abc121@gmail.com</span></div>
              </div>
              <div class="inner3">
                <button><a href="enquiry_details.html">Check</a></button>
              </div>
            </div>
            <div class="box2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe
              deserunt incidunt fugiat numquam quas reprehenderit cum sunt
              perferendis nisi ea ullam voluptatum adipisci ratione culpa
              blanditiis non nulla, temporibus facere? Beatae tenetur vel
              exercitationem nulla, doloremque omnis porro necessitatibus at
              odio quos iure voluptates, laborum deserunt minima nisi quidem?
            </div>
          </div>

          <div class="tray" style="--delay: 3">
            <div class="box1">
              <div class="inner1">
                <div class="inner11"><i class="bi bi-person-circle"></i></div>
                <div class="inner12">XTZOO <span>abc121@gmail.com</span></div>
              </div>
              <div class="inner3">
                <button><a href="enquiry_details.html">Check</a></button>
              </div>
            </div>
            <div class="box2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe
              deserunt incidunt fugiat numquam quas reprehenderit cum sunt
              perferendis nisi ea ullam voluptatum adipisci ratione culpa
              blanditiis non nulla, temporibus facere? Beatae tenetur vel
              exercitationem nulla, doloremque omnis porro necessitatibus at
              odio quos iure voluptates, laborum deserunt minima nisi quidem?
            </div>
          </div>
        </div>

        <div class="enq_details">
          <a href="enquiry_details.html">
            <div class="More_Details">
              <i class="bi bi-box-arrow-in-down-left"></i>
            </div>
            <div id="More_Details" class="More_Details"></div>
          </a>
        </div>
      </div>
    </div>

     <!--scripts  -->
    <script src="/js/jscript.js"></script>
  </body>
</html>
