<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
    <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

     <div class="container">
        <section> Zillionsoftech</section>
        <form action="/updateInquiryStatus/:id" method="post">
                    <!-- Including CSRF token in form (csrfToken -> global variable)-->
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">


            <ul class="flex-outer">
                <li>
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="firstname" placeholder="Enter your first name here" required>
                </li>
                <li>
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="lastname" placeholder="Enter your last name here">
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email here" required>
                </li>
                <li>
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" name="telephone" placeholder="Enter your phone here" required>
                </li>
                <li>
                    <label for="User_location">City</label>
                    <input type="text" id="User_location" name="address" placeholder="Enter your location" required>
                </li>

                <li>
                    <label for="message">Inquiry msg</label>
                    <textarea rows="6" id="message" name="message"
                        placeholder="Enter your message here Or inquiry about course you interested in"
                        required></textarea>
                </li>

                {{!-- <li>
                  <label for="message">Summary 1</label>
                  <textarea
                    rows="6"
                    id="message"
                    placeholder="1st call summary"
                    required
                  ></textarea>
                </li> --}}

                <li>
                    <p>Age</p>
                    <ul class="flex-inner">
                        <li>
                            <input type="radio" id="ten-to-nineteen" value="10-18" name="ageGroup" checked>
                            <label for="twenty-to-twentynine">10-18</label>
                        </li>
                        <li>
                            <input type="radio" id="twenty-to-twentynine" value="19-29" name="ageGroup">
                            <label for="twenty-to-twentynine">19-29</label>
                        </li>
                        <li>
                            <input type="radio" id="thirty-to-thirtynine" value="30-39" name="ageGroup">
                            <label for="thirty-to-thirtynine">30-39</label>
                        </li>
                        <li>
                            <input type="radio" id="fourty-to-fourtynine" value="40-49" name="ageGroup">
                            <label for="fourty-to-fourtynine">40-49</label>
                        </li>

                        <li>
                            <input type="radio" id="other" value="other" name="ageGroup">
                            <label for="other">Other</label>
                        </li>
                    </ul>
                </li>
                <li>
                    <button style="cursor: pointer;" type="submit">Submit</button>
                </li>
            </ul>
        </form>
    </div>

    <script src="/js/animation.js"></script>
  </body>
</html>
