<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> I_navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> I_sidebar}}
    {{!-- sidebar end --}}

    <!-- login card -->
    <div class="resetPageMain">
        <div class="login-box">
      <p>Login</p>
      <form action='/login/reset/password/{{realUser.role}}/{{realUser._id}}'  method="post">
          <!-- Including CSRF token in form (csrfToken -> global variable)-->
          {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
          
        <div class="user-box">
          <input 
              required="" 
              name="" 
              value="{{realUser.email}}" 
              type="text" 
              readonly
          />
          {{!-- <label>Email</label> --}}
        </div>
        <div class="user-box">
          <input 
              required="" 
              name="password" 
              type="password" 
              required
          />
          <label>Password</label>
        <div id="passwordError"></div>
        </div>

        <div class="user-box">
          <input 
              required="" 
              name="confirmPassword" 
              type="password" 
              required
          />
          <label>Confirm Password</label>
        <div id="confirmPasswordError"></div>
        </div>

        <button href="" id="submitButton">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </button>
      </form>

      {{!-- <p>Don't have an account? <a href="" class="a2">Sign up!</a></p> --}}
    </div>
      
    </div>
      <script src="/js/jscript.js"></script>

      {{!-- <script>
        document.addEventListener("DOMContentLoaded",()=>{
          const submitButton = document.querySelector("#submitButton");
          const form = document.querySelector("form");

           const isStrongPassword = (password)=> {
               // Regular expressions for various password criteria
               const minLength = 8;
               const uppercaseRegex = /[A-Z]/;
               const lowercaseRegex = /[a-z]/;
               const digitRegex = /\d/;
               const specialCharRegex = /[!@#$%^&*]/;

               return (
                 password.length >= minLength &&
                 uppercaseRegex.test(password) &&
                 lowercaseRegex.test(password) &&
                 digitRegex.test(password) &&
                 specialCharRegex.test(password)
               );
            }

          function submitForm (event){
            console.log("hello");
            event.preventDefault(); 
            const url = `/login/reset/password/${realUser.role}/${realUser._id}`;

            form.setAttribute("action", url);
            form.setAttribute("method", "post");

            var password = document.querySelector('input[name="password"]').value;
            var confirmPassword = document.querySelector('input[name="confirmPassword"]').value;
            var passwordError = document.getElementById("passwordError");
            var confirmPasswordError = document.getElementById("confirmPasswordError");

            if (password === "") {
              passwordError.textContent = "Please enter a password.";
            }
            else if (!isStrongPassword(password)) {
               passwordError.textContent =
                "Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character.";
            }
             else if (confirmPassword === "") {
              confirmPasswordError.textContent = "Please confirm your password.";
            }
             else if (password !== confirmPassword) {
              passwordError.textContent = "Passwords do not match.";
              confirmPasswordError.textContent = "Passwords do not match.";
            } 
            else {
              passwordError.textContent = ""; 
              confirmPasswordError.textContent = ""; 

              form.submit();
            }
          }

          submitButton.addEventListener("click", submitForm);

           
          document.addEventListener("keyup",(event)=>{
            if(event.key==="Enter"){
              event.preventDefault();

              submitForm(event);
            }

          })
        })

      </script> --}}
  </body>
</html>
