<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>

  <body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> S_sidebar}}
    {{!-- sidebar end --}}

 

    <!-- enquiry_page -->
    <div class="center_part_fee">
      <div class="fee_top_attendance" style="color: red">
        Check your Attendance
      </div>
      <div class="attendance_middle">
        <span
          ><input
            type="date"
            name=""
            id=""
            data-placeholder="Date to Check"
            class="input_date_att"
        /></span>
        <table>
          <thead>
            <tr>
              <th>Date</th>

              <th>Attendance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>march12, 22</td>
              <td>
                <div class="att_button">Present</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="/js/jscript.js"></script>
  </body>
</html>
