<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}

  </head>

  <body>
       <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <!------ enquiry_page ----->

    <div class="center_part_student">
      <div class="student_tray">
        <div class="student_tray1">
          <p><a href="/admin/addStudent">Add Student</a></p>
          <p><i class="bi bi-person-fill-add"></i></p>
        </div>
        <div class="student_tray1">
          <p><a href="viewStudent">View Students</a></p>
          <p>
            <i class="bi bi-eye-fill"></i>
            <span>{{totalStudent}}</span>
          </p>
        </div>
        <div class="student_tray1">
          <p><a href="studentFee">View Fees</a></p>
          <p>
            <i class="bi bi-wallet2"></i>
            <span>
              {{#unless totalFees.[0].totalpendingfees}}
                ---
            {{else}}

                {{totalFees.[0].totalpendingfees}}

            {{/unless}}
            </span>
          </p>
        </div>
      </div>
    </div>

    <script src="/js/jscript.js"></script>
  </body>
</html>
