<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>

  <body>
     <!-- animation -->
     {{> animation}}
     <!-- animation ends -->
 
     <!-- navbar -->
     {{> navbar}}
     {{!-- navbar-end --}}
    
 
     <!-- sidebar-nav -->
     {{> T_sidebar}}
     {{!-- sidebar end --}}

    <!-- sidebar-nav -->

 
    <!-- enquiry_page -->
    <div class="center_part_fee">
      <div class="fee_top_attendance">Attendance</div>
      <div class="fee_middle">
        <table>
          <thead>
            <tr>
              <th>Batch</th>
              <th>Take Attendance</th>
              <th>View Attendance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td>
                <a href="i_teachers_take_attendance.html">
                  <i class="bi bi-pen-fill"></i
                ></a>
              </td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td><a href=""></a></td>
              <td>
                <a href="i_teachers_view_attendance.html"
                  ><i class="bi bi-eye-slash-fill"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="/js/jscript.js"></script>
  </body>
</html>
