<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
     <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> T_sidebar}}
    {{!-- sidebar end --}}

    <!-- enquiry_page -->
    <div class="center_part_fee">
      <div class="fee_top_attendance">Taking-Attendance</div>
      <div class="attendance_middle">
        <span
          ><input type="date" name="" id="" data-placeholder="Today's Date"
        /></span>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Roll no</th>
              <th>Attendance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>heyyy</td>
              <td>12</td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td>233</td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td>443</td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td></td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td></td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td></td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td></td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td></td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td></td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>heyyy</td>
              <td></td>
              <td>
                <select name="" id="">
                  <option value="">Present</option>
                  <option value="">Absent</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="js/jscript.js"></script>
  </body>
</html>
