{{!-- should not done --}}
{{!-- teacher notice nhi daalenge --}}

<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <body>
    <!-- animation -->
    <div class="animation_center">
      <div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
    <!-- animation ends -->

    <!-- navbar -->
    <header>
      <div class="nav">
        <div class="left">
          <div class="nav_button">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul>
            <li id="nav_zillion">
              <a href=""> Zillionsoftech</a>
            </li>
          </ul>
        </div>

        <div class="right">
          <ul>
            <li>
              <a href="index_teacher.html">
                <i class="uil uil-estate"></i> Home</a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a href="./loginForm.html"
                ><i class="bi bi-box-arrow-right"></i> Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- sidebar-nav -->

    <div class="sidebar_small">
      <ul>
        <li>
          <a href=""> <i class="bi bi-person-circle"></i></a>
        </li>
      </ul>

      <hr />

      <ul>
        <li>
          <a href="index_teacher.html"> <i class="bi bi-laptop"></i> </a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="i_teachers_attendance.html">
            <i class="bi bi-person-vcard"></i
          ></a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="i_teachers_notice.html"> <i class="bi bi-megaphone"></i></a>
        </li>
      </ul>
    </div>

    <div class="sidebar_android">
      <ul>
        <li>
          <a href=""><i class="bi bi-person-circle"></i> NAME</a>
        </li>
      </ul>

      <hr />

      <ul>
        <li>
          <a href="index_teacher.html"
            ><i class="bi bi-laptop"></i> Dashboard</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a href="i_teachers_attendance.html">
            <i class="bi bi-person-vcard"></i> Attendance</a
          >
        </li>
      </ul>

      <ul>
        <li>
          <a href="i_teachers_notice.html">
            <i class="bi bi-megaphone"></i> Notice</a
          >
        </li>
      </ul>
    </div>

    <div class="center_part_notice">
      <div class="notice_heading">
        <div class="notice_top">Announce Something</div>

        <div class="notice_middle">
          <form action="" class="Notice_entry">
            <ul>
              <!-- <li>
                            <label for="notice_heading" style="margin-bottom: 2rem;">Notice Heading : </label>
                            <input type="text" name="" id="notice_heading">
                        </li> -->

              <li>
                <textarea
                  name=""
                  id="txtarea"
                  placeholder="Enter Notice...."
                ></textarea>
              </li>
            </ul>

            <ul>
              <li>
                <button type="submit" class="btn btn-primary">Submit</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>

    <script src="/js/jscript.js"></script>
  </body>
</html>
