<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>

  <body>
       <!-- animation -->
    {{> animation}}
    <!-- animation ends -->

    <!-- navbar -->
    {{> navbar}}
    {{!-- navbar-end --}}
   

    <!-- sidebar-nav -->
    {{> sidebar}}
    {{!-- sidebar end --}}

    <!------ enquiry_page ----->

    <div class="center_part_student">
      <div class="student_tray">
        <div class="student_tray1">
          <p><a href="addTeacher">Add Teacher</a></p>
          <p><i class="bi bi-person-fill-add"></i></p>
        </div>
        <div class="student_tray1">
          <p><a href="/admin/viewTeacher">View Teachers</a></p>
          <p>
            <i class="bi bi-eye-fill"></i>
            <span>{{totalTeacher}}</span>
          </p>
        </div>
        <div class="student_tray1">
          <p><a href="salarydetails">View Salary</a></p>
          <p>
            <i class="bi bi-wallet2"></i>
            <span>---</span>
          </p>
        </div>
      </div>
    </div>

    <script src="/js/jscript.js"></script>
  </body>
</html>
