 <header>
      <div class="nav">
        <div class="left">
          <div class="nav_button">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul>
            <li id="nav_zillion" translate="no">
              <a href=""> Zillionsoftech</a>
            </li>
          </ul>
        </div>

        <div class="right">
          {{!-- <ul>
            <li>
              <a href="index.html"> <i class="uil uil-estate"></i> Home</a>
            </li>
          </ul> --}}

        </div>
      </div>
    </header>