 <div class="sidebar_small">
      <ul>
        <li>
          <a href=""> <i class="bi bi-question-diamond-fill"></i></a>
        </li>
      </ul>

      <hr />

    </div>

  <div class="sidebar_android">
      <ul>
        <li>
          <a href=""> <i class="bi bi-question-diamond-fill"></i> &nbsp HELP</a>
        </li>
      </ul>

      <hr />


    </div>
  
