   <!-- sidebar-nav -->

    <div class="sidebar_small">

      <ul>
        <li>
          <a href=""> <i class="bi bi-person-circle"></i></a>
        </li>
      </ul>

      <hr />

    <div class="tooltip">
      <ul>
        <li>
          <a href="/student/dashboard"> <i class="bi bi-laptop"></i> </a>
        </li>
      </ul>  <div class="tooltiptext-right">Dashboard</div>
    </div>
    


    <div class="tooltip">
      <ul>
        <li>
          <a href="/student/viewAttendance">
            <i class="bi bi-person-vcard"></i
          ></a>
        </li>
      </ul>
      <div class="tooltiptext-right">Attendance</div>
    </div>


    </div>

    <div class="sidebar_android">
      <ul>
        <li>
          <a><i class="bi bi-person-circle"></i> {{firstname}}</a>
        </li>
      </ul>

      <hr />

      <ul>
        <li>
          <a href="/student/dashboard"
            ><i class="bi bi-laptop"></i> Dashboard</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a href="/student/viewAttendance">
            <i class="bi bi-person-vcard"></i> Attendance</a
          >
        </li>
      </ul>
    </div>