 <div class="sidebar_small">
      <ul>
        <li>
          <a href=""> <i class="bi bi-person-circle"></i></a>
        </li>
      </ul>

      <hr />

   <div class="tooltip">
      <ul>
        <li>
          <a href="/admin/dashboard"> <i class="bi bi-laptop"></i> </a>
        </li>
      </ul>

      <div class="tooltiptext-right">Dashboard</div>
    </div>

    <div class="tooltip">
      <ul>
        <li>
          <a href="/admin/inquiry"> <i class="bi bi-person-exclamation"></i></a>
        </li>
      </ul>
        <div class="tooltiptext-right">Inquiry</div>
    </div>

    <div class="tooltip">
      <ul>
        <li>
          <a href="/admin/courses"> <i class="bi bi-journal-text"></i></a>
        </li>
      </ul>
        <div class="tooltiptext-right">Courses</div>
    </div>


    <div class="tooltip">
      <ul>
        <li>
          <a href="/admin/teachers"> <i class="bi bi-person-video3"></i></a>
        </li>
      </ul>
        <div class="tooltiptext-right">Teachers</div>
    </div>

    <div class="tooltip">
      <ul>
        <li>
          <a href="/admin/students"> <i class="bi bi-person-workspace"></i></a>
        </li>
      </ul>
        <div class="tooltiptext-right">Students</div>
    </div>

    <div class="tooltip">
      <ul>
        <li>
          <a href="/admin/attendance"> <i class="bi bi-person-vcard"></i></a>
        </li>
      </ul>
        <div class="tooltiptext-right">Attendance</div>
    </div>
    

    <div class="tooltip">
      <ul>
        <li>
          <a href="/admin/studentFee"> <i class="bi bi-wallet"></i></a>
        </li>
      </ul>
        <div class="tooltiptext-right">Fees</div>
    </div>


    <div class="tooltip">
      <ul>
        <li>
          <a href="/admin/notice"> <i class="bi bi-megaphone"></i></a>
        </li>
      </ul>
        <div class="tooltiptext-right">Notice</div>
    </div>

    
    </div>

    <div class="sidebar_android">
      <ul>
        <li>
          <a href=""><i class="bi bi-person-circle"></i> {{userName}}</a>
        </li>
      </ul>

      <hr />

      <ul >
        <li>
          <a href="/admin/dashboard"><i class="bi bi-laptop"></i> Dashboard</a>
        </li>
      </ul>
       

      <ul>
        <li>
          <a href="/admin/inquiry"
            ><i class="bi bi-person-exclamation"></i> Inquiry</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a href="/admin/courses"><i class="bi bi-journal-text"></i> Courses</a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="/admin/teachers"><i class="bi bi-person-video3"></i> Teachers</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/admin/students">
            <i class="bi bi-person-workspace"></i> Students</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a href="/admin/attendance">
            <i class="bi bi-person-vcard"></i> Attendance</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a href="/admin/studentFee"><i class="bi bi-wallet"></i> Fee</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/admin/notice"> <i class="bi bi-megaphone"></i> Notice</a>
        </li>
      </ul>
    </div>