@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url("https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300;400;500;600&family=Lora:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary: #000;
  --secondary: #f5deb3;
  --tertiary: #494848;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* ---------------------------------------------------------loading animation ---------------------------------------------------    */

.animation_center {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  opacity: 0.7;
  visibility: 0.7;
  transition: opacity 0.75s, visibility 0.75s;
}

.animation_center-hidden {
  opacity: 0;
  visibility: hidden;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;

  align-items: center;

  background: var(--primary);
}

.wave {
  width: 5px;
  height: 60px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* -----------------------------------------------------------------siderbar------------------------------------------------- */

.sidebar_small {
  position: fixed;

  top: 0rem;
  height: 100vh;
  width: 5.5vw;
  background-color: var(--primary);
  color: var(--secondary);
  padding-top: 4.3rem;
}

.sidebar_small ul {
  width: 100%;
  /* height: 4rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.75rem;
  padding-top: 0.5rem;
  list-style: none;
  margin: 0;
  /* margin-bottom: 0.5rem; */

}

.sidebar_small i {
  font-size: 1.5rem;
  padding: 1rem;
}

.sidebar_small ul a {
  text-decoration: none;
  color: var(--secondary);
}

.sidebar_small ul:hover {
  background-color: var(--tertiary);
  transition-duration: 0.2s;
  border-radius: 2.5rem;
}

.sidebar_small hr {
  border-color: var(--secondary);
  margin: 0.5rem 0;

}

.sidebar_android {
  position: fixed;
  /* display: none; */
  height: 100vh;
  width: 35vw;
  top: 0;
  padding-top: 4.3rem;
  background-color: var(--primary);
  color: var(--secondary);
  z-index: 1;
  left: -35vw;
}

.sidebar_android ul {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 0.5rem;
  list-style: none;
  margin: 0;
  /* margin-bottom: 1rem; */

}

.sidebar_android ul a {
  text-decoration: none;
  color: var(--secondary);
  padding: 0.2rem;
}

.sidebar_android ul:hover {
  background-color: var(--tertiary);
  transition-duration: 0.2s;
  border-radius: 2rem;
}

.sidebar_android hr {
  border-color: var(--secondary);
  margin: 0.5rem 0;

}

/* -----open(class) state------------------------ (js) */
.sidebar_android.open {
  left: 0;
}

.sidebar_small.open {
  width: 0;
}

.nav_button.open span:nth-child(1) {
  transform: rotate(45deg) translatey(10px);
}

.nav_button.open span:nth-child(2) {
  opacity: 0;
  width: 0;
}

.nav_button.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

/* -------transition for sidebar_android-------- */
.sidebar_android {
  transition: left ease-in-out 0.3s;
}

.nav_button {
  transition: all ease-in-out 0.4s;
}

.sidebar_small {
  transition: width ease-out 0.3s;
}

@media (max-width: 720px) {
  .sidebar_android {
    width: 30vw;
    height: 91.6vh;
  }

  .sidebar_android ul {
    height: 2.8rem;
  }

  .sidebar_android ul a {
    padding: 0.2rem;
  }
}

@media (max-width: 1260px) {
  .sidebar_small {
    display: none;
  }
}

@media (min-width: 1900px) {
  .sidebar_small {
    width: 4.5vw;
  }

  .sidebar_android {
    width: 8.5vw;
  }
}

@media (min-width: 1280px) and (max-width: 1910px) {
  .sidebar_android {
    width: 11vw;
  }
}

/* --------------------------------------------------------navbar------------------------------------------------------     */

.nav {
  position: fixed;
  top: 0;

  background-color: var(--primary);
  width: 100vw;
  font-size: 20px;
  display: flex;

  justify-content: space-between;
  z-index: 2;
  padding: 1rem 1rem;
  /* padding-top: 1rem; */
}

.left {
  display: flex;
  width: 45%;

}

.nav_button {
  position: relative;
  cursor: pointer;
  /* width: 6.4vw; */
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_button span {
  display: block;
  width: 30px;
  height: 2.5px;
  background-color: var(--secondary);
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.right {
  display: flex;
  z-index: 2;
}

.nav ul {
  list-style: none;
  /* padding-top: 1rem; */
  margin-bottom: 0 !important;
}

.nav a {
  color: var(--secondary);

  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1rem 0.7rem 1rem 0.5rem;

}

.nav .right a:hover {

  font-size: 1.15rem;

  transition: 0.2s;

}

.nav button {
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.nav button:hover {

  font-size: 1.14rem;

  transition: 0.2s;

}

/* ---------------------------------------------------------LogIN---------------------------------------------------------- */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 155, 155, 0.8);
}

.login .card {
  height: 30rem;
  max-width: 30rem;
  background-color: rgb(247, 237, 224);
  border: 1px solid silver;
  border-radius: 1rem;
  padding: 0.9rem;

  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.top {
  height: 20%;

  font-size: 3rem;
  font-family: "Signika", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(var(--angle),
      purple,
      rgb(255, 0, 0),
      brown,
      green,
      rgb(144, 41, 144));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
}

.middle {
  height: 60%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.user_login {
  width: 100%;

  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 0.6rem;

  box-shadow: 3px 3px 6px rgba(21, 43, 212, 0.1);
  border: 1px solid skyblue;
  background-color: whitesmoke;
}

.user_login:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
}


.user_category {
  height: 3rem;
  width: 100%;

  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.category_label {
  padding: 0 1rem;

  text-transform: uppercase;
  letter-spacing: 0.9px;
  cursor: pointer;
}

.user_category input[type="radio"]+label {
  background-color: #ccc;
  padding: 5px 10px;
  margin: 0 0.5rem;

  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.user_category input[type="radio"]:checked+label {
  background-color: #49a09d;
  color: white;
}


.user_category input[type="radio"] {
  display: none;

}


#login_button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #4b89ed;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);



  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  margin: 0.5rem 0;
}

#login_button:hover {
  background-color: #3578e5;
  /* Darker blue on hover */
  transform: translateY(-2px);
  /* A slight upward lift on hover */
}


.login .card p {
  text-align: center;
  margin: 0.7rem 0;
  font-size: 0.9rem;
}

.login .card p a {
  text-decoration: none;
  text-transform: capitalize;
}

.login .card p a:hover {
  text-decoration: underline;
}

.login .card .forgetPasswordLink a {
  color: red;
}

.login .card .inquirePageLink a {
  color: blue;
}


@media (min-width: 1280px) {
  .card {
    height: 70vh;
    width: 40%;
    background-color: rgb(247, 237, 224);
    border: 1px solid silver;
    border-radius: 2rem;
  }
}

@media (min-width: 1920px) {
  .card {
    height: 70vh;
    width: 30%;
    background-color: rgb(247, 237, 224);
    border: 1px solid silver;
    border-radius: 2rem;
  }
}

/* -------------------------------------------------------enquiry------------------------------------------------------------------- */

.center_part {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 3.9rem);
  width: 80%;
  top: 3.9rem;
  left: 10%;
  background-color: rgb(247, 237, 224);
  margin: auto;
  /* overflow: hidden; */
}

.center_part_enquiry {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 3.9rem);
  width: 80%;
  top: 3.9rem;
  left: 10%;
  background: linear-gradient(35deg, rgb(120, 17, 120), #2e3780);
  /* background: linear-gradient(45deg, #49a09d, #5f2c82 90%); */
  margin: auto;
  /* overflow: hidden; */
}

.enq_top {
  height: 150px;
  max-width: 43rem;
  /* border: 0.15rem solid transparent; */
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin: auto;
  margin: 1rem 1.2rem;
  background: linear-gradient(35deg, #4f58a6, #5f2c8b 70%);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.enq_top i {
  display: inline-block;
  color: orange;

  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
  /* vertical-align: auto; */

  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s 0.7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }

  1% {
    -webkit-transform: rotateZ(30deg);
  }

  3% {
    -webkit-transform: rotateZ(-28deg);
  }

  5% {
    -webkit-transform: rotateZ(34deg);
  }

  7% {
    -webkit-transform: rotateZ(-32deg);
  }

  9% {
    -webkit-transform: rotateZ(30deg);
  }

  11% {
    -webkit-transform: rotateZ(-28deg);
  }

  13% {
    -webkit-transform: rotateZ(26deg);
  }

  15% {
    -webkit-transform: rotateZ(-24deg);
  }

  17% {
    -webkit-transform: rotateZ(22deg);
  }

  19% {
    -webkit-transform: rotateZ(-20deg);
  }

  21% {
    -webkit-transform: rotateZ(18deg);
  }

  23% {
    -webkit-transform: rotateZ(-16deg);
  }

  25% {
    -webkit-transform: rotateZ(14deg);
  }

  27% {
    -webkit-transform: rotateZ(-12deg);
  }

  29% {
    -webkit-transform: rotateZ(10deg);
  }

  31% {
    -webkit-transform: rotateZ(-8deg);
  }

  33% {
    -webkit-transform: rotateZ(6deg);
  }

  35% {
    -webkit-transform: rotateZ(-4deg);
  }

  37% {
    -webkit-transform: rotateZ(2deg);
  }

  39% {
    -webkit-transform: rotateZ(-1deg);
  }

  41% {
    -webkit-transform: rotateZ(1deg);
  }

  43% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0);
  }

  1% {
    -moz-transform: rotate(30deg);
  }

  3% {
    -moz-transform: rotate(-28deg);
  }

  5% {
    -moz-transform: rotate(34deg);
  }

  7% {
    -moz-transform: rotate(-32deg);
  }

  9% {
    -moz-transform: rotate(30deg);
  }

  11% {
    -moz-transform: rotate(-28deg);
  }

  13% {
    -moz-transform: rotate(26deg);
  }

  15% {
    -moz-transform: rotate(-24deg);
  }

  17% {
    -moz-transform: rotate(22deg);
  }

  19% {
    -moz-transform: rotate(-20deg);
  }

  21% {
    -moz-transform: rotate(18deg);
  }

  23% {
    -moz-transform: rotate(-16deg);
  }

  25% {
    -moz-transform: rotate(14deg);
  }

  27% {
    -moz-transform: rotate(-12deg);
  }

  29% {
    -moz-transform: rotate(10deg);
  }

  31% {
    -moz-transform: rotate(-8deg);
  }

  33% {
    -moz-transform: rotate(6deg);
  }

  35% {
    -moz-transform: rotate(-4deg);
  }

  37% {
    -moz-transform: rotate(2deg);
  }

  39% {
    -moz-transform: rotate(-1deg);
  }

  41% {
    -moz-transform: rotate(1deg);
  }

  43% {
    -moz-transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  1% {
    transform: rotate(30deg);
  }

  3% {
    transform: rotate(-28deg);
  }

  5% {
    transform: rotate(34deg);
  }

  7% {
    transform: rotate(-32deg);
  }

  9% {
    transform: rotate(30deg);
  }

  11% {
    transform: rotate(-28deg);
  }

  13% {
    transform: rotate(26deg);
  }

  15% {
    transform: rotate(-24deg);
  }

  17% {
    transform: rotate(22deg);
  }

  19% {
    transform: rotate(-20deg);
  }

  21% {
    transform: rotate(18deg);
  }

  23% {
    transform: rotate(-16deg);
  }

  25% {
    transform: rotate(14deg);
  }

  27% {
    transform: rotate(-12deg);
  }

  29% {
    transform: rotate(10deg);
  }

  31% {
    transform: rotate(-8deg);
  }

  33% {
    transform: rotate(6deg);
  }

  35% {
    transform: rotate(-4deg);
  }

  37% {
    transform: rotate(2deg);
  }

  39% {
    transform: rotate(-1deg);
  }

  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

.enq_top p {
  font-size: 1.8rem;
  font-weight: 600;
  color: yellowgreen;
}

/* .enq_top p i {
  color: yellow;
} */

#enquiry_forms_no {
  display: flex;
  margin-top: 2rem;
  padding-left: 1.5rem;
}

#enquiry_forms_no #inquiry_display_text {
  font-size: 1.3rem;
  font-weight: 450;
  color: whitesmoke;
}

#inquiry_display {

  color: orange;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;


}

.enq_middle {
  width: 100%;
  height: 60vh;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.enq_slidding {

  color: #111168;
  padding: 10px;
  /* border-radius: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-shrink: 2; */

  height: 17rem;
  width: 50vw;
  min-width: 21rem;
  min-height: 16rem;

  margin: auto;
  /* background: linear-gradient(35deg, #4979a0, #5f2c8b); */

  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */


  animation: 8s rotate linear infinite;
  /* overflow: hidden; */

  position: relative;
  /* padding: auto; */
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.tray {
  width: 95%;
  max-width: 40rem;
  margin: auto;
  border: 1px solid wheat;
  background-color: whitesmoke;
  border-radius: 0.25rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);


  height: 10.3rem;
  padding: 0.5rem;
  position: absolute;
  opacity: 0;

  /* --duration and --delay have come from html file itself */
  animation-name: enq_details_animate;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  animation-delay: calc(3s * var(--delay));
  pointer-events: none;
}

.box1 {
  width: 100%;
  height: 50%;
  /* border: 1px solid blue; */
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.inner1 {
  display: flex;
  margin: 0.5rem;
  /* background-color: blue; */
}

.inner11 {
  /* background-color: red; */
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  /* text-align: left; */
  font-size: 3rem;
  border-radius: 50%;
  color: white;
  filter: drop-shadow(0.15px 0.25px 5px purple);
  /* box-shadow: 0.1px 0.1px 15px purple; */
}

.inner12 {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

.inner12 span {
  font-weight: 200;
  font-size: 1rem;
}

.inner3 {
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.inner3 a {
  text-decoration: none;
  color: #3c4043;
}

.inner3 button {
  background-color: white;
  border-radius: 2rem;
  height: 2.5rem;
  width: auto;
  border-style: none;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  padding: 0.2rem 0.9rem;
  margin-right: 0.5rem;
  color: #3c4043;
  cursor: pointer;

  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.box2 {
  width: 100%;
  height: 50%;
  /* border: 1px solid red; */
  margin-top: 0.2rem;
  /* line-height: 1.1rem; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-left: 0.5rem;
  padding-right: 0.5rem;
}

.inner3 button:hover {
  background: #f6f9fe;
  color: #174ea6;
  text-shadow: 10px 10px 30px blue;
}

.tray:hover {
  animation-play-state: paused;
  /* cursor: pointer; */
}

.enq_slidding:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes enq_details_animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }

  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }

  25%,
  40% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0) scale(1);
  }

  45%,
  60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }

  65%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}

.enq_details {


  border: 0.7rem solid transparent;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;
  width: 25vw;
  margin: auto;


  /* box-shadow: 0.5px 1.5px 10px 1px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  cursor: pointer;
}

.enq_details a {
  text-decoration: none;
}

.enq_details .More_Details {
  display: inline-block;
  font-size: 5vh;
  font-weight: 700;
  font-family: "Signika", sans-serif;

  background: linear-gradient(var(--angle),
      red, yellow, orange);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(1px 1px 0.25px pink);

  height: 3rem;
  width: 15rem;

}

.enq_details .More_Details:nth-child(1) {
  font-size: 4vh;
}


.enq_details .More_Details:hover {
  cursor: pointer;
}

@media (max-width: 843px) {


  .center_part_enquiry {
    height: 100%;
  }

  .enq_slidding {
    width: 50vw;
    height: 15rem;
    margin: 5.5rem 0;
  }

  .enq_details {
    margin-top: 1.5rem;

  }

  .enq_top .More_Details {
    font-size: 1.3rem;
  }

}


/* --------------------------------------------------------signUp/enquiry--------------------------------------------------------- */

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  background-color: rgb(247, 237, 224);
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.5rem;
}

.container section {
  font-size: 3rem;
  font-family: "Signika", sans-serif;
  display: flex;
  justify-content: center;

  background: linear-gradient(var(--angle),
      purple,
      rgb(255, 0, 0),
      brown,
      green,
      rgb(144, 41, 144));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 1rem;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer>li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.flex-outer>li>label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer>li>label+*,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type="checkbox"]),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.flex-outer li button:hover {
  filter: brightness(115%);
  background: #000;
}

.flex-inner li {
  width: 100px;
}


/*--------------------------------------------- admin_dashboard ----------------------------------------------*/

.center_part_dashboard {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 3.9rem);
  width: 80%;
  top: 3.9rem;
  left: 10%;
  background: linear-gradient(45deg, #49a09d, #5f2c82 90%);
  /* background-color: rgb(247, 237, 224); */
  /* border: 1px solid chocolate; */
  margin: auto;
  /* overflow: hidden; */
}

.admin_dashboard_tray {
  width: 95%;
  /* height: 10rem; */
  margin: 1rem auto;
  padding: 0.5rem;

  background-color: #111744;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 1rem;
}

.admin_dashboard_tray1 {
  width: 25%;
  min-width: 9.9rem;
  height: 8rem;
  /* border-right: 0.1px solid rgba(48, 103, 192, 0.5); */
  padding: 1rem;
}

.admin_dashboard_tray1:last-child {
  border-style: none;
}

.admin_dashboard_tray1 p:nth-child(1) {
  color: #9ca3af;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.admin_dashboard_tray1 p:nth-child(1) a {
  color: #9ca3af;
  text-decoration: none;
}

.admin_dashboard_tray1 p:nth-child(2) {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

/* ------dashboard notice-------- */
.notice {
  padding: 40px;

  height: calc(91.5vh - 11rem);
}

.notice .cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;

}

.notice .slider {

  animation: notice_animate 20s linear infinite;
}

.alert {
  width: 512px;
  padding: 16px;
  margin: 8px;
  max-width: 90%;
  /* animation: notice_animate 30s linear infinite; */
}

.alert-1-primary {
  background-color: rgba(46, 201, 70, 0.05);
  border: 1px solid #2ec946;
  border-radius: 8px;
}

.alert-1-primary .alert-title {
  color: #2ec946;
}


.alert-2-secondary {
  border-left: 4px solid #ffba00;
  background-color: rgba(255, 186, 0, 0.05);
  border: 1px solid #ffba00;
  border-radius: 8px;
}

.alert-2-secondary .alert-title {
  color: #ffba00;
}

.alert-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.alert-content {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}

@keyframes notice_animate {
  0% {
    /* transform: translateY(calc(200px * 1.5)); */
    transform: translateY(+80%);
  }

  100% {
    /* transform: translateY(calc(-220px * 1.5)); */
    transform: translateY(-100%);
  }
}

/* -----------------------------------notice-entry----------------------- */

.center_part_notice {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 3.9rem);
  width: 80%;
  top: 3.9rem;
  left: 10%;
  background: linear-gradient(45deg, #49a09d, #5f2c82 90%);
  margin: auto;
  /* overflow: hidden; */
}

.notice_heading {
  position: relative;

  box-shadow: 0.5px 0.5px 8px silver, -0.5px -0.5px 8px silver;

  max-width: 700px;
  margin: auto;
  top: 4rem;

}

.notice_top {
  background: linear-gradient(45deg, purple, purple, blue, purple);
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  /* margin-bottom: 1.5rem; */
}

.notice_middle {
  padding: 1.3rem;
}

.notice_heading ul {
  list-style: none;
}


.notice_heading input[type="datetime-local"] {
  padding: 10px;
  border: 1px solid transparent;
  background: rgba(135, 206, 235, 0.3);

  color: black;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;

}

.notice_heading input[type="datetime-local"]::before {
  content: attr(data-placeholder);
  color: black;
  width: 100%;

}

.notice_heading input[type="datetime-local"]:focus::before,
.notice_heading input[type="datetime-local"]:active::before {
  display: none;

}

/* to make it work, input field should be 'required'-attribute */
.notice_heading input[type="datetime-local"]:valid::before {
  display: none;

}

/* Style the input when it's focused (clicked) */
.notice_heading input[type="datetime-local"]:focus {
  /* border-color: #007bff; */
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.7);
}

.notice_heading textarea {
  width: 100%;
  height: 20rem;
  padding: 1rem;

  /* border: 1px solid #ccc; */
  background: rgba(135, 206, 235, 0.3);
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
}

.notice_heading .noticeHeading {
  height: 3.5rem;
}


.notice_heading textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}

.notice_heading textarea:focus {
  border-color: blue;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgb(0, 0, 255, 0.2);
}

.notice_heading button {
  padding: 0.5rem 0.8rem;

  margin-top: 0.3rem;
  cursor: pointer;
  border: none;
  background: #5f2c82;
  color: #ffffff;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  transition: all 0.3s ease;

}

.notice_heading button:hover {
  border-color: rgb(121, 121, 247);
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(135, 206, 235, 0.7);

  transform: scale(0.97);

  background: #1c6a4f;

}

/* <<<<-----------------------------------------------------student page-------------------------------------------------------->>>>>>>> */
.center_part_student {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 3.9rem);
  width: 80%;
  top: 3.9rem;
  left: 10%;
  background: linear-gradient(45deg, #49a09d, #5f2c82 90%);
  margin: auto;
  /* overflow: hidden; */
}

.student_tray {
  width: 95%;
  /* height: 10rem; */
  margin: 1rem auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.student_tray1 {
  width: 30%;
  min-width: 14rem;
  height: 9rem;
  background-color: #4979a0;
  border-right: 0.1px solid rgba(48, 103, 192, 0.5);
  border-radius: 1rem;

  padding: 1rem;
  margin: 0.5rem;
}

.student_tray .student_tray1:nth-child(2) {
  background-color: #4f58a6;
}

.student_tray .student_tray1:nth-child(3) {
  background-color: #5f2c8b;
}

.student_tray1 p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

.student_tray1 p:nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.student_tray1 span {
  padding-right: 2rem;
}

.student_tray1 a {
  text-decoration: none;
  color: white;
}

/* <<<------------------------------------------------------add students---------------------------------------------------------->>>> */

.center_part_addstd {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 3.9rem);
  width: 80%;
  top: 3.9rem;
  left: 10%;
  background-color: rgb(247, 237, 224);
  margin: auto;
  overflow: auto;
}

.add_students_top {
  width: 100%;
  background: linear-gradient(45deg, purple, purple, blue, purple);
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-family: "Dai Banna SIL", serif;
}

.add_students_middle {
  margin: auto;
  padding: 1rem;
  width: 90%;
}

.add_students_middle form {
  width: 90%;
  margin: auto;

}

.add_students_middle table {
  margin: auto;
  /* width: 80%; */
  width: 100%;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 2px solid blue;
  border-left: 2px solid purple;
  border-top: 2px solid purple;
  padding-top: 1rem;
}

.add_students_middle table tr {
  margin: auto;

}

.add_students_middle table tr,
.add_students_middle table td {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.add_students_middle table td {
  /* max-width: 25rem; */
  width: 45%;
  margin: 0.5rem 0.5rem;
}

.add_students_middle tr:nth-child(3) td:nth-child(2) {
  /* border: 1px solid skyblue; */
  display: inherit;
  align-items: center;
  background-color: rgb(135, 206, 235, 0.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);

}

.add_students_middle .address-group {

  width: 44rem;
  max-width: 50rem;
  padding: 0 1rem;

}

.add_students_middle tr:nth-child(1) {
  margin-top: 0.5rem;
}

.add_students_middle tr:nth-last-child(1) {
  margin-bottom: 1rem;
}


.add_students_middle fieldset {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}



.add_students_middle table td input:not([type="submit"]) {
  padding: 10px;
  width: 100%;
}

.add_students_middle table td input:not([type="submit"], [type="file"]) {
  padding: 10px;
  width: 100%;
  border: 1px solid skyblue;
  background-color: whitesmoke;
}

.add_students_middle table td input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
}

.add_students_middle td input[type="submit"] {

  /* background: linear-gradient(135deg, #ff6b6b, #d32f2f); */
  /* background: linear-gradient(135deg, #4dabf5, #1976d2); */
  background-color: #f54242;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.1s;
}

.add_students_middle input[type="submit"]:hover {

  background: #d63030;
  transform: scale(1.05);


}

.add_students_middle table td select {
  width: 100%;
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;

  /* Remove default arrow on Webkit,Mozilla,other browsers */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../img/arrow-down-short.svg') no-repeat right center;
  background-color: #49a09d;
  color: white;
}

.add_students_middle td:nth-child(2) {
  display: flex !important;
  justify-content: right;
  align-items: right;
}



.add_students_middle input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  /* background: #4dabf5; */
  background: #f39c12;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
}

.add_students_middle input[type="file"]::file-selector-button:hover {
  background: #d68711;
}



.add_students_middle td:nth-child(2) input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  font-size: 0.9rem;

}

.add_students_middle td:nth-child(1) input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  font-size: 0.9rem;

}

.add_students_middle input[type="date"]:focus::before,
.add_students_middle input[type="date"]:active::before {
  display: none;
}

/* to make it work, input field should be 'required'-attribute */
.add_students_middle input[type="date"]:valid::before {
  display: none;
}

.add_students_middle td input[type="file"]::before {
  content: attr(data-placeholder);
  width: 100%;
}



.add_students_middle td input::placeholder {
  font-size: 0.9rem;
}

.add_students_middle .radio-group input[type="radio"] {
  display: none;
}

.add_students_middle .radio-group label {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0 0.7rem;

  text-transform: uppercase;
  letter-spacing: 0.9px;

  font-size: 0.9rem;
}

.add_students_middle .radio-group input[type="radio"]+label {
  background-color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.add_students_middle .radio-group input[type="radio"]:checked+label {
  background-color: #49a09d;
  color: white;
}

.address-fieldset {
  border: 1px solid #bdbaba;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.address-fieldset legend {
  font-weight: 600;
}

.address-fieldset input {
  width: 100%;
  margin: 5px;
}


@media (min-width: 768px) and (max-width: 1240px) {

  .add_students_middle table td {

    min-width: 10rem;
    /* max-width: 15rem; */
    /* Reset to 100% for smaller screens */
  }

  .add_students_middle tr:nth-child(5) td {
    max-width: 30rem;

  }
}

@media (max-width: 768px) and (min-width: 500px) {

  .add_students_middle table td,
  .add_students_middle tr:nth-child(5) td {
    width: 100%;
    /* Reset to 100% for smaller screens */
  }

  .add_students_middle table {
    width: 100%;
  }

  .add_students_middle {
    width: 100%;
    padding: 0rem;
  }

  .address-fieldset {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    width: 100%;
  }


}

@media (max-width: 490px) {

  .add_students_middle table td,
  .add_students_middle tr:nth-child(5) td {
    width: 100%;
  }

  .add_students_middle table {
    width: 100%;
    border: none;
    padding: 0rem;
  }

  .add_students_middle {
    width: 100%;
  }

  .address-fieldset {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
  }

}

/* <<<<------------------------------------------------------------fee ------------------------------------------>>>>>*/

.center_part_fee {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 3.9rem);
  width: 80%;
  top: 3.9rem;
  left: 10%;
  background: linear-gradient(45deg, #49a09d, #5f2c82 90%);
  margin: auto;
  /* overflow-y: auto; */
}

.fee_top {
  width: 100%;
  background: linear-gradient(45deg, #5f2c82 60%, #49a09d);
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.5px;
  position: sticky;
  top: 0;

  font-family: "Dai Banna SIL", serif;
}

.fee_middle {
  margin: auto;
  height: calc(100vh - 10rem);
  /* padding: 3rem; */
  font-family: sans-serif;
  overflow-y: auto;
}

.fee_middle table {
  margin: auto;
  width: 50%;

  color: white;
  border-collapse: separate;
  border-spacing: 0 0.4rem;
  margin-top: 1rem;
}

.fee_middle thead {
  position: sticky;
  top: 0rem;

}

.fee_middle thead th {
  table-layout: fixed;

  background: #5b68a1;
  font-size: 1.1rem;
  padding: 0.8rem;
  padding-left: 1rem;
  /* width: 50%; */
  min-width: 8rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.fee_middle tbody tr {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 0.25px solid rgb(255, 255, 255, 0.2);
  margin: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.fee_middle tbody tr:nth-last-child(1) {
  border-style: none;
}

.fee_middle td {
  font-size: 1rem;
  padding: 0.8rem 0.8rem 0.8rem 1.5rem;
}

.fee_middle tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fee_middle a {
  text-decoration: none;
  color: greenyellow;
}

/* <<<<--------------------------------------------------fee details-------------------------------------------------------->>>>> */

.fee_details_middle {
  width: 100%;
  margin: auto;
  margin-top: 2rem;

  color: wheat;
  font-weight: 500;
  text-align: center;
  overflow-y: auto;
  height: calc(100vh - 10rem);
}

.fee_details_middle table {
  margin: auto;
  width: 95%;
  color: white;
}

.fee_details_middle thead th {
  position: sticky;
  top: 0;
  background: #5b68a1;
  font-size: 1.1rem;
  padding: 0.8rem;
  padding-left: 1rem;
  /* width: 5px; */
  min-width: 8rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.fee_details_middle tbody tr {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 0.25px solid rgb(255, 255, 255, 0.2);
  margin: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.fee_details_middle tbody tr:nth-last-child(1) {
  border-style: none;
}

.fee_details_middle td {
  font-size: 1rem;
  padding: 0.8rem;
  padding-left: 1.5rem;
  /* width: 50%; */
}

.fee_details_middle tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fee_details_middle a {
  text-decoration: none;
  color: greenyellow;
}

.fee_details_middle i {
  font-size: 1.3rem;
}

.fee_details_middle td:nth-last-child(2) i {
  font-size: 1.3rem;
  color: darkturquoise;
}

.fee_details_middle a {
  text-decoration: none;
}

/*  <<<<<--------------------------------------- attendance ------------------------------------------>>>>*/


.fee_top_attendance {
  width: 100%;
  background: linear-gradient(35deg, purple, #111744);
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.5px;
  position: sticky;
  top: 0;

  font-family: "Dai Banna SIL", serif;
}

.attendance_middle {
  font-family: sans-serif;
  height: calc(100vh - 10rem);
  overflow: auto;
}

.attendance_middle table {
  margin: auto;
  width: 50%;

  color: white;
  border-collapse: separate;
  border-spacing: 0 0.4rem;

  margin-top: 1rem;
}

.attendance_middle thead {
  position: sticky;
  top: 0rem;

}

.attendance_middle thead th {
  table-layout: fixed;

  border: none;
  background: #5b68a1;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-align: left;

  min-width: 8rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.attendance_middle tbody tr {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 0.25px solid rgb(255, 255, 255, 0.2);
  margin: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.attendance_middle tbody tr:nth-last-child(1) {
  border-style: none;
}

.attendance_middle td {
  font-size: 1rem;
  padding: 0.8rem 0.8rem 0.8rem 1.5rem;

}

.attendance_middle tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.attendance_middle .datepicker {
  margin: 1rem 0 0 2rem;
  display: flex;
  align-items: center;
}

.attendance_middle .datepicker input[type="date"] {
  width: 200px;
  padding: 0.4rem 0.5rem;
  border: 1px solid #ccc;

  border-radius: 5px;
  color: wheat;
  background: purple;
  font-size: 1rem;

}

.attendance_middle input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

.attendance_middle input[type="date"]:focus::before,
.attendance_middle input[type="date"]:valid::before {
  display: none;
}

/* .submitAttendanceButton {
  display: flex;
  justify-content: right;
  margin: 1rem 2rem;

} */

.submitAttendanceButton input[type="submit"] {
  position: absolute;
  top: 5.2rem;
  right: 2rem;
  z-index: 2;
  margin: 1rem 2rem;
  background: linear-gradient(45deg, #FF5733, #FF6A47);
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
}

.submitAttendanceButton input[type="submit"]:hover {
  background: linear-gradient(45deg, #FF6A47, #FF5733);
  transform: scale(1.04);
}

.submitAttendanceButton input[type="submit"]:active {
  background: linear-gradient(135deg, #e75e40, #d24829);
}

/* .viewAttendanceButton {
  display: flex;
  justify-content: right;
  margin: 1rem 2rem;
} */

.viewAttendanceButton input[type="submit"] {
  position: absolute;
  top: 5.2rem;
  right: 2rem;
  z-index: 2;
  margin: 1rem 2rem;
  background: linear-gradient(45deg, #45a049, #33cc33);
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
}

.viewAttendanceButton input[type="submit"]:hover {
  background: linear-gradient(45deg, #33cc33, #45a049);
  transform: scale(1.05);
}

.viewAttendanceButton input[type="submit"]:active {
  background: linear-gradient(45deg, #2a9933, #1a6c2d)
}


.attendance_middle select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #cecacc;
  cursor: pointer;
}

.present_button {
  background-color: green;
  padding: 0.15rem 1rem;
  border: 1px solid rgb(255, 255, 255, 0.6);
  border-radius: 0.25rem;
  width: 5.5rem;
  color: black;

}

.absent_button {
  padding: 0.15rem 1rem;
  color: black;
  background-color: orange;
  border: 1px solid rgb(255, 255, 255, 0.7);
  border-radius: 0.25rem;
  width: 5.5rem;
}

/* Button styles */
.attendance_button {
  width: 4rem;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.attendance_button:hover {
  background: #008000;
}

/* Icon styles */
.attendance_button i.bi {
  font-size: 1.05rem;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .center_part_fee {
    width: 100%;
    left: 0;
  }
}

/* <<<<<--------------------------------------- courses -------------------------------------------------->>>>*/
.courses_top {
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  background: linear-gradient(35deg, skyblue, blue);
  font-size: 2rem;

  padding: 0.5rem 0;


  color: white;

  font-family: "Dai Banna SIL", serif;
}

.courses_middle {
  width: 90%;
  margin: auto;
  overflow: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.courses_middle table {
  margin: auto;

  overflow: auto;
}

.courses_middle table thead th {
  font-size: 1.1rem;
  background-color: #b8daff;
  padding: 0.8rem;
  padding-left: 1rem;
  min-width: 8rem;
  border-bottom: 1px solid rgb(122, 186, 255, 0.3);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.courses_middle table tbody td {
  font-size: 1rem;
  background-color: rgb(184, 218, 255, 0.9);
  border-bottom: 1px solid rgb(122, 186, 255);
  padding: 0.8rem;
  padding-left: 1.5rem;
}

.courses_middle tbody tr:hover {
  background-color: rgba(255, 255, 255);
}

.courses_middle span {
  display: flex;
  justify-content: right;
  font-size: 1.5rem;

  padding: 0.5rem;
}

.courses_middle span a {
  text-decoration: none;
  color: orange;
}

.courses_middle tbody a {
  text-decoration: none;
  font-size: 1.3rem;
  color: green;
}

/*  <<<<-----------------add courses----------------------->>>>> */

.courses_middle_add {

  height: calc(100% - 5.5rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses_middle_card {
  max-width: 400px;

  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  padding: 2rem;
  text-align: center;


}

.courses_middle_card form {
  display: flex;
  flex-direction: column;

}

.courses_middle_card input {
  margin: 10px 0;
  padding: 12px;
  border: 2px solid #ddd;

  border-radius: 5px;
  font-size: 16px;
}

.courses_middle_card input::placeholder {
  font-size: 16px;
  color: #aaa;
}

.courses_middle_card input:not([type="submit"]):focus {
  outline: none;
  border: 2px solid #4CAF50;
}

.courses_middle_card input[type="submit"] {
  background: #4CAF50;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;


  width: 50%;
}

.courses_middle_card input[type="submit"]:hover {
  background: #45a049;
  transform: scale(1.05);
}


/* --------------------------------------{ Student/Teacher table }---------------------------------------------------- */

.center_part_usertable {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 3.9rem);
  width: 80%;
  top: 3.9rem;
  left: 10%;
  margin: auto;
  font-weight: 300;
  color: rgb(255, 255, 255, 0.75);

  background-color: #1f2739;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #1f2739;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #1f2739;
}

.center_part_usertable section {
  padding: 2rem;
  background-color: #374259;
  text-align: center;
  flex: auto 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.center_part_usertable section h1 {
  font-size: 2.5rem;
  color: wheat;
  margin-top: 0.5rem;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  /* letter-spacing: 3px; */
}

.center_part_usertable section h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.5rem 0 1.5rem;
  color: goldenrod;
  font-weight: normal;
}

.tableContainer {
  overflow: auto;
  /* margin: 0 0 0 0.6rem; */
  height: calc(100vh - 16.55rem);

}

.user_table th {
  position: sticky;
  top: 0;
  table-layout: fixed;
  min-width: 4rem;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 1em;

  border: none;
  background: #4caf50;
}

.user_table tr {
  border-bottom: 1px solid rgb(221, 221, 221, 0.7);
}

.user_table td {
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
  white-space: nowrap;

}

.user_table {
  text-align: left;
  margin: auto;
  display: table;
  padding: 0 0 80rem;
  border-collapse: collapse;
}

.user_table td,
.user_table th {
  padding: 1em;
}

.user_table tr:nth-child(odd) {
  background-color: #323c50;
}

.user_table tr:nth-child(even) {
  background-color: #2c3446;
}

.user_table td:first-child,
.user_table td:nth-child(3) {
  color: #fb667a;
}

.user_table tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.user_table td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;
}

.user_table tr td:nth-last-child(1),
.user_table tr td:nth-last-child(2) {
  cursor: pointer;
  background: none;

}

/* button */
/* .user_table { */

.edit-button,
.delete-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.25s;
}

/* Edit button style */
.edit-button {
  background-color: #3498db;
  color: #fff;
}

/* Delete button style */
.delete-button {
  background-color: #e74c3c;
  color: #fff;
}

/* On hover effect */
.edit-button:hover,
.delete-button:hover {
  transform: scale(1.05);
}

/* } */

@media screen and (max-width: 768px) {
  .center_part_usertable {
    width: 100%;
    left: 0;
    top: 3.9rem;
  }

  .tableContainer {
    margin: 0.5rem 0 0 0;
  }

  .user_table {
    padding: 0;
    overflow-x: visible;
    width: 100%;
  }

  .user_table thead {
    display: none;
  }

  .user_table tr {
    display: block;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    /* border: 1px solid rgb(221, 221, 221); */

  }

  .user_table tr td {
    display: block;
    width: 100%;
    font-size: 0.9rem;
    position: relative;
    padding: 40px 15px 10px;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221, 0.7);

  }

  .user_table tr td:nth-child(2) {
    display: none;
  }

  .user_table tr td:nth-child(1) {
    background-color: #4caf50;
    color: black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);


    /* color: white; */
    padding: 8px;
    border-radius: 5px 5px 0 0;
    font-size: 1.1rem;
    font-weight: 550;
  }

  .user_table tr td:nth-child(6) {
    white-space: pre-wrap;
  }

  .user_table tr td:nth-last-child(1),
  .user_table tr td:nth-last-child(2) {
    padding: 15px 15px;

  }

  .user_table tr td:hover {
    cursor: pointer;
  }

  .user_table {

    .edit-button,
    .delete-button {
      width: 100%;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
      transition: 0.3s;
    }

    .edit-button:hover,
    .delete-button:hover {
      transform: scale(1.025);
    }
  }


  .user_table td:not(:nth-child(1))::before {
    content: attr(name);
    position: absolute;
    top: 9px;
    left: 0;
    padding: 2px 8px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;

    border-radius: 3px;

  }

  .user_table tr td:hover::before {
    color: black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }

  .user_table tr .accordion-content {
    display: none;
  }

  .user_table tr:nth-child(1) .accordion-content {
    display: block;
  }

  .user_table .active .accordion-content {
    display: block;
  }
}

/* ---------------------------------------------VERIFY EMAIL PAGE---------------------------------------------- */

.resetPageMain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4B5563;
}

.main-ccontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.newsletter-ccontainer {
  width: 100%;
  max-width: 400px;
  background-color: #111827;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.newsletter-title {
  font-size: 24px;
  font-weight: bold;
  color: goldenrod;
  margin-bottom: 10px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-input {
  background-color: #4B5563;
  color: #E5E7EB;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  transition: background-color 0.3s, outline 0.3s, box-shadow 0.3s;
}

.newsletter-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.newsletter-input:focus {
  background-color: #374151;
  outline: none;
  box-shadow: 0 0 6px rgba(66, 153, 225, 0.5);
}

.newsletter-button {
  background: linear-gradient(to right, #10B981, #3B82F6);
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 10px;
}

.newsletter-button:hover {
  background: linear-gradient(to right, #047857, #2563EB);
}


/* ---------------------------------------------VERIFY OTP PAGE------------------------------------------------ */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background: #333333; */
  background-color: #111827;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid #fff;
  width: 22em;
  height: 12em;

  margin: auto;

}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.form p {
  color: #fff;
  font-weight: bolder;
}

.inp {
  margin-left: auto;
  margin-right: auto;
  white-space: 4px;
}

.optInput+.optInput {
  margin-left: 0.5em
}

.optInput {
  color: #fff;
  height: 2em;
  width: 2em;
  float: left;
  text-align: center;
  background: rgb(0, 0, 0, 0.3);
  /* background: #333333; */

  outline: none;
  border: 1px #fff solid;
  border-radius: 5px;
  transition: all 0.6s ease;
  font-size: larger;
}

.optInput:focus {
  outline: none;
  border: 1px #fff solid;
}

.optInput:not(:placeholder-shown) {
  background-color: #fff;
  width: 1em;
  height: 1em
}

.form button {
  margin-left: auto;
  margin-right: auto;
  background-color: #00000000;
  color: #fff;
  width: 8.5em;
  height: 2.3em;
  border: #fff 0.1em solid;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.form button:hover {
  background-color: #fff;
  color: #000
}

/* ----------------------------------------------RESET PASSWORD PAGE--------------------------------------------- */

.login-box {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0, 0, 0, .9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
  margin-bottom: 30px;
}

.login-box .user-box #confirmPasswordError,
#passwordError {
  font-size: 0.85rem;
  color: red
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a button {
  border: none;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.login-box a button:hover {
  background-color: white;
  color: black;
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

/* -------------------- */
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Style for the right-pointing tooltip content */
.tooltip .tooltiptext-right {
  visibility: hidden;
  position: absolute;
  z-index: 9999;

  width: 100px;
  background-color: #333;

  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  top: 50%;
  left: 105%;
  margin-top: -15px;
  /* Center the tooltip vertically */
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.5s;
}

.tooltip:hover .tooltiptext-right {
  visibility: visible;
  opacity: 1;
}

.cover_cover {
  position: relative;
  z-index: 0;
}